@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.iconsAndNameContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding-bottom: 0.3rem;
}

.name{
    font-family: 'Fredoka One', cursive;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-shadow: 6px 3px 6px rgba(132, 232, 235, 0.89);
}

.searchBox{
    width: 100%;
    border-radius: 5px;
}

.pointerHover:hover{
    cursor: pointer;
}

.locationsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: 100px;
    height: 100px;
    background-color: #b6b6b6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8rem;
}

.imageCard{
    width: 100px;
    height: 100px;
}

.imageAndName{
    margin: 0.8rem;
}

.locationName{
    
}

.plusIcon{
    font-size: 1.5rem;
    color: rgb(20, 197, 228) !important;
}

.minusIcon{
    font-size: 1.5rem;
    color: rgb(228, 20, 72) !important;
}

.addIcon{
    font-size: 1.8rem;
}

.bellIcon{
    font-size: 1.8rem;
    padding: 0 1rem;
}

.usersIcon{
    font-size: 1.8rem;
}