.iconsAndNameContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.iconsContainer{

}

.usernameContainer{

}

.searchBox{
    width: 100%;
}

.pointerHover:hover{
    cursor: pointer;
}

.locationsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: 100px;
    height: 100px;
    background-color: #b6b6b6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.plusIcon{
    font-size: 1.5rem;
    color: rgb(20, 197, 228) !important;
}

.minusIcon{
    font-size: 1.5rem;
    color: rgb(228, 20, 72) !important;
}

.addIcon{
    font-size: 1.8rem;
}

.bellIcon{
    font-size: 1.8rem;
    padding: 0 1rem;
}

.usersIcon{
    font-size: 1.8rem;
}