input::placeholder{
    text-align:center;
}

.backgroundImage{
    background-image: url('/public/images/bg-01.jpg');
}

.rememberMeContainer{
    display: flex;
    flex-direction: row;
}

.rememberMebox{
    /* display: flex; */
    order: 2;
}

.rememberMe{
    display: flex;
    order: 2;
}