.formItemRemember{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.rememberMe{
}

.forgetPass{
    justify-content: flex-end;
}

.formItemBtn{
    margin: 0 !important;
}

.logoContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.logo{
    border-radius: 50%;
    height: 75px;
    width: 75px;
}